/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* my code */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

body {
    background-image: url(../pics/Banner.jpg);
    background-size: cover;
    height: 100%;
}

.main-container {
    position: relative;
    padding-top: 20px;
    width: 400px;
    margin: auto;
    min-height: 100%;
}

.main-container image {
    margin: 0;
    padding: 0;
}

.main-container button {
    width: 49.5%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: white;
    line-height: 40px;
    cursor: pointer;
}

.main-container button:hover {
    background-color: #111;
    color: #b27f08;
}

.main-container form {
    padding-top: 20px;
}

.main-container form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    border: solid;
    border-color: #666;
    border-width: thin;
    background-color: white;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
    margin-bottom: 4px;
}

.main-container form button {
    display: block;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: white;
    line-height: 40px;
    margin: 0;
    margin-bottom: 4px;
    cursor: pointer;
}

.main-container form button:hover {
    background-color: #111;
    color: #b27f08;
}

footer {
    width: 100%;
    position: absolute;
    clear: both;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #111;
}

.footer-box {
    width: 400px;
    margin: auto;
}

footer lu li {
    float: left;
    list-style: none;
    float: center;
}

footer lu li a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
